<section ng-init="getCurriculumTopicData()">
	<script type="text/ng-template" id="commentModal.html">
		<div class="modal-body form-group">
			<label>How easy did you find teaching this topic (0: extremely hard, 10: extremely easy)? </label>
			<select class="form-control" ng-model="rating" ng-style="ratingStyling">
				<option ng-repeat="r in RATINGS">{{ r }}</option>
			</select>
			<br>
			<label>What areas were difficult to teach and why?</label>
			<textarea class="form-control" ng-model="difficultAreas" ng-style="difficultAreasStyling"></textarea>
			<br>
			<label>What techniques did you implement to make it easier for students to learn this material?</label>
			<textarea class="form-control" ng-model="techniques" ng-style="techniquesStyling"></textarea>
		</div>
		<div class="modal-footer">
			<button class="btn pull-left" type="button" ng-click="reset()">Reset</button>
			<button class="btn" type="button" ng-click="add()">Add</button>
			<button class="btn" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</script>
	<div id="main-container">
		<div class="row">
			<div class="page-header">
				<span><b>Grade: </b>{{ data.grade }}</span><br>
				<span><b>Subject: </b>{{ data.subject }}</span><br>
				<span><b>Topic: </b>{{ data.description }}</span><br>
				<span><b>Ease of teaching: </b>{{ data.difficulty }}%</span><br>
				<span><b>Total ratings: </b>{{ data.totalRankings }}</span>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="row">
			<h4 id="comments-header">Comments</h4>
			<button id="add-comment-button" type="button" class="btn pull-right" ng-click="addComment()">Add comment</button>
		</div>
		<div class="row">
			<ul class="list-group" ng-if="data.comments.length">
		  	<li class="list-group-item" ng-repeat="comment in data.comments">
					<span><b>Ease of teaching: </b>{{ comment.rating }}%</span>
					<small class="pull-right">{{ comment.date }}</small><br>
					<span class="txt-area-txt"><b>Difficult areas: </b>{{ comment.difficultAreas }}</span><br>
					<span class="txt-area-txt"><b>Techniques: </b>{{ comment.techniques }}</span><br>
				</li>
			</ul>
			<p id="no-comments-msg" ng-if="! data.comments.length">there are no comments available at this time</p>
		</div>
	</div>
</section>
