<section ng-init="init()">
  <div class="col-md-6 col-md-offset-3" style="text-align: center" ng-hide="hideContents">
    <div class="panel panel-info">
      <div class="panel-heading">Grade {{ grade }} {{ subject }}</div>
      <div class="panel-body">
        <a ng-repeat="(title, data) in curriculumData" ng-click="navigateTo(title)" style="color: black">
          {{ title }}<br>
        </a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="panel-group" ng-repeat="(title, data) in curriculumData">
    <div class="panel panel-primary">
      <div class="panel-heading" id="{{ title }}">{{ title }}</div>
      <div class="panel-body">
        <ul ng-repeat="d in data">
          <a href="" class="curriculum-bullet"
             ng-mouseenter="showElementData(title, d.rating)"
             popover-placement="auto top-left"
             popover-trigger="mouseenter"
             uib-popover-html="popoverHtml"
             ng-click="viewMore(d.id)">
             <li>{{ d.description }}</li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</section>
