<section id="main-section" class="form-group col-md-8 col-md-offset-2">
  <br>
  <div id="header-container">
    <h1 id="header">TeachSphere</h1>
  </div>
  <form ng-submit="formSubmit()" ng-init="init()" class="form-group col-md-10 col-md-offset-1">
    <label>Grade: </label>
    <select class="form-control dropdown" name="grade" ng-model="grade" ng-change="gradeSelected()" ng-disabled="shouldDisableGrades">
      <option ng-repeat="grade in grades" value="{{ grade }}">{{ grade }}</option>
    </select>
    <br>
    <label>Subject: </label>
    <select class="form-control dropdown" name="subject" ng-model="subject" ng-disabled="shouldDisableSubjects" ng-change="subjectSelected()">
      <option ng-repeat="subject in subjects" value="{{ subject }}">{{ subject }}</option>
    </select>
    <br><br>
    <div id="go-btn-container">
      <input id="go-btn" type="submit" class="btn btn-lg" value="Go!" ng-disabled="shouldDisableSubmit" ng-style="goButtonStyle" ng-mouseover="goButtonMouseOver()" ng-mouseleave="goButtonMouseLeave()" />
    </div><br>
  </form>
</section>
