.curriculum-bullet:hover {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.curriculum-bullet {
  color: black;
}

#table-of-contents {
  text-align: center;
}

#table-of-contents a {
  color: black;
}

.subject-panel {
  background-color: #fafafa;
}
