.popover {
	max-width: 100%;
}

#section {
	margin-bottom: -15px;
}

#progress-div {
	margin-left: 42px;
}

#easiness-bar-container {
	margin-bottom: -15px;
	width: 200px;
}

#label {
	margin-left: -15px;
}
