#main-section {
  margin-top: 8%;
  border: 10px solid black;
  border-radius: 50px;
  background-color: #fafafa;
}

#header-container {
  text-align:center;
}

#header {
  font-family: "Lucida Console", Monaco, monospace;
  color: black;
}

.dropdown {
  border: 2px solid black;
}

#go-btn-container {
  text-align: center;
}

#go-btn {
  border-radius: 4px;
}
